<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="gov.sandia.dakota.runner">
    <booleanAttribute key="dakota.import.err.file" value="true"/>
    <booleanAttribute key="dakota.import.out.file" value="true"/>
    <booleanAttribute key="dakota.import.results.file" value="true"/>
    <booleanAttribute key="dakota.import.rst.file" value="true"/>
    <booleanAttribute key="dakota.import.tabular.file" value="true"/>
    <stringAttribute key="dakota.in" value="C:\Users\Mitchell Neilsen\dakota_gui_workspace\WinDAMC_InternalErosionDakota\studies\ExampleProject\004high.in"/>
    <stringAttribute key="dakota.run.environment" value="C:\Users\Mitchell Neilsen\dakota_gui_workspace\WinDAMC_InternalErosionDakota\studies\ExampleProject"/>
</launchConfiguration>
